In [3]:
#variables
#1
myvar='pi'
pi=22/7
print(type(pi))

<class 'float'>

In [2]:
#2
for=4
#because for,if,else,while and other few are like reserved keywords cannot be used as identifiers so we get error

SyntaxError: invalid syntax (3639871942.py, line 1)

In [5]:
#3
P=10000
R=10
T=3
SI=(P*R*T)/100
print("simple interest",SI)

simple interest 3000.0

In [7]:
#numbers
#1
def format_number(num,fmt):
    return format(num,fmt)
result =format_number(145,'o')
print(result)

221

In [1]:
#2
pi=3.14
r=84
area=pi*(r**2)
water_per_square_meter=1.4
total_water=area*water_per_square_meter
print(int(total_water))

31018

In [8]:
#3
distance=490
time_minute=7
time_seconds=time_minute*60
speed=distance/time_seconds
print(int(speed))

1

In [11]:
#list
#1
#Create the original list
justice_league = ["Superman", "Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]
print("1️ Original team:", justice_league)
#Calculate number of members
print("2️ Number of members:", len(justice_league))
#Add Batgirl and Nightwing
justice_league.append("Batgirl")
justice_league.append("Nightwing")
print("3️ After adding new members:", justice_league)
#Step Make Wonder Woman the leader (move to beginning)
justice_league.remove("Wonder Woman")      
justice_league.insert(0, "Wonder Woman")  
print("4️ After making Wonder Woman leader:", justice_league)
#Separate Flash and Aquaman by moving Superman in between
justice_league.remove("Superman")        
flash_index = justice_league.index("Flash")
justice_league.insert(flash_index + 1, "Superman")
print("5️ After separating Flash and Aquaman:", justice_league)
#Crisis - new team formed
justice_league = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]
print("6️ New team formed:", justice_league)
#Sort alphabetically and find new leader
justice_league.sort()
print("7️ After sorting alphabetically:", justice_league)
print(" New leader (0th index):", justice_league[0])

1️ Original team: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern']
2️ Number of members: 6
3️ After adding new members: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
4️ After making Wonder Woman leader: ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
5️ After separating Flash and Aquaman: ['Wonder Woman', 'Batman', 'Flash', 'Superman', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
6️ New team formed: ['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']
7️ After sorting alphabetically: ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']
 New leader (0th index): Cyborg

In [13]:
#if condition
#1
height=float(input("enter height in meters"))
weight=float(input("enter weight in kilograms"))
bmi=weight/(height**2)
if bmi >= 30:
    print('obesity')
elif bmi >= 25:
    print('overweight')
elif bmi >=18.5:
    print('normal')
else:
    print('underweight')

enter height in meters 1.75
enter weight in kilograms 70

normal

In [15]:
#2
Australia = ["Sydney","Melbourne","Brisbane","Perth"]
UAE = ["Dubai","Abu Dhabi","Sharjah","Ajman"]
India = ["Mumbai","Bangalore","Chennai","Delhi"]
city=input("enter the city name")
if city in Australia:
    print(f"{city}in australia")
elif city in UAE:
    print(f"{city} in UAE")
elif city in India:
    print(f"{city} in India")
else:
    print("city not found in the lists given")

enter the city name Abu Dhabi

Abu Dhabi in UAE

In [17]:
#3
city1 = input("Enter the first city: ")
city2 = input("Enter the second city: ")
if city1 in Australia:
    country1 = "Australia"
elif city1 in UAE:
    country1 = "UAE"
elif city1 in India:
    country1 = "India"
else:
    country1 = None
if city2 in Australia:
    country2 = "Australia"
elif city2 in UAE:
    country2 = "UAE"
elif city2 in India:
    country2 = "India"
else:
    country2 = None
if country1 and country2: 
    if country1 == country2:
        print(f"Both cities are in {country1}")
    else:
        print("They don't belong to the same country")
else:
    print("One or both cities are not in the lists")

Enter the first city:  Mumbai
Enter the second city:  Chennai

Both cities are in India

In [2]:
#for loop
#1
import random
count_six=0
count_one=0
count_two_six_in_a_row=0
previous_roll=0
for i in range(20):
    roll=random.randint(1,6)
    print(f"roll {i+1}: {roll}")
    if roll == 6:
        count_six+=1
    if roll == 1:
        count_one+=1
    if roll == 6 and previous_roll == 6:
        count_two_six_in_a_row+=1
    previous_roll=roll
print("\nresult")
print("number of times rolled 6", count_six)
print("number of times rolled 1", count_one)
print("number of times two sixs appeared in a row",count_two_six_in_a_row)

roll 1: 6
roll 2: 5
roll 3: 4
roll 4: 2
roll 5: 3
roll 6: 2
roll 7: 1
roll 8: 6
roll 9: 6
roll 10: 4
roll 11: 1
roll 12: 2
roll 13: 5
roll 14: 4
roll 15: 4
roll 16: 6
roll 17: 4
roll 18: 6
roll 19: 4
roll 20: 4

result
number of times rolled 6 5
number of times rolled 1 2
number of times two sixs appeared in a row 1

In [6]:
#2
total=0
for i in range(10):
    total+=10
    print(f"you completed{total} jumping jacks")
    if total==100:
        print("congrats! you completed the workout")
        break
    tired = input("are u tired?(yes/no)").lower()
    if tired in ["yes","y"]:
        skip=input("do you want to skip remaining sets?(yes/no):").lower()
        if skip in["yes","y"]:
            print(f"you completed a total of {total} jumping jacks.")
            break
        else:
            print(f"good job! {100-total} jumping jacks remaining.\n")
    else:
        print(f" {100-total} jumping jacks remaining\n")

you completed10 jumping jacks

are u tired?(yes/no) yes\

 90 jumping jacks remaining

you completed20 jumping jacks

are u tired?(yes/no) no

 80 jumping jacks remaining

you completed30 jumping jacks

are u tired?(yes/no) yes
do you want to skip remaining sets?(yes/no): yes

you completed a total of 30 jumping jacks.